* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #0b0c22;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  padding-top: 60px;
}
.container{
    
}